body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #6e7dff, #00c6ff);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffeb3b;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #ffffff;
}

.btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:disabled {
  background-color: #aaa;
}

.btn:hover {
  background-color: #45a049;
}

.footer {
  margin-top: 30px;
  color: #ffeb3b;
  font-size: 0.9rem;
}

.footer a {
  color: #ffeb3b;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.processing {
  display: none;
  font-size: 1rem;
  color: yellow;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: flashing 1s infinite alternate;
}

.processing.show {
  display: block;
  opacity: 1;
}

@keyframes flashing {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#claimAirdropButton.flashText {
  animation: textFlash 1.5s infinite alternate;
}

@keyframes textFlash {
  0% {
    color: #ffffff;
  }
  50% {
    color: #ffeb3b;
  }
  100% {
    color: #ffffff;
  }
}




